<div class='main-content'>
  <h2>Créer un pari</h2>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="form-container">
    <div class="form-field">
      <label>
        Choisissez un match:
        <select [(ngModel)]="selectedGame" name="selectedGame" required>
          <option *ngFor="let game of allGames" [ngValue]="game">{{game.homeTeam}} VS {{game.awayTeam}}</option>
        </select>
      </label>
    </div>
  <div class="form-field">
    <label>
      Choisissez l'équipe gagnante:
      <select [(ngModel)]="selectedTeam" name="selectedTeam" required>
        <option *ngIf="selectedGame" [value]="selectedGame.homeTeam">{{selectedGame.homeTeam}}</option>
        <option *ngIf="selectedGame" [value]="selectedGame.awayTeam">{{selectedGame.awayTeam}}</option>
      </select>
    </label>
  </div>
    <div class="form-field">
      <label>
        Montant misé:
        <input [(ngModel)]="betAmount" type="number" min="0" name="betAmount" required>
      </label>
    </div>
    <div class="form-field">
      <label>
        Montant souhaité:
        <input [(ngModel)]="desiredAmount" type="number" min="0" name="desiredAmount" required>
      </label>
    </div>
    <button type="submit">Valider</button>
  </form>
</div>
