/* You can add global styles to this file, and also import other style files */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #F6F6F6;
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
}
