<h2>Matchs à venir</h2>
<div class="all-games">
  <ul *ngIf="allGames.length > 0">
    <li *ngFor="let game of allGames">
      <div class="game-container">
        <div class="match-container">
          <div class="team left-team">
            <img src="{{getUrlFromKey(game.homeTeam)}}" alt="Miami Heat Logo" class="team-logo">
            <div class="team-info">
              <div class="team-name">{{getTeamFromKey(game.homeTeam)}}</div>
            </div>
          </div>

          <div class="match-info">
            <div class="time">{{convertUTCtoParisTime(game.dateTimeUTC)}}</div>
          </div>

          <div class="team right-team">
            <img src="{{getUrlFromKey(game.awayTeam)}}" alt="Detroit Pistons Logo" class="team-logo">
            <div class="team-info">
              <div class="team-name">{{getTeamFromKey(game.awayTeam)}}</div>
            </div>
          </div>
        </div>

        <div class="bet-container">
          <div class="ratio-container">
            <div class="amount-container">
              <div class="ratio">
                <div class="left">{{ leftPercentages.get(game.id)?.() }}%</div>
                <div class="center-item">Rapport</div>
                <div class="left">{{ rightPercentages.get(game.id)?.() }}%</div>
              </div>
            </div>
            <div class="input-container">
              <input type="range" min="1" max="99" (input)="updateSliderValue($event, game.id)" class="slider" id="myRange">
            </div>
            <div class="amount-container">
              <div class="ratio-bottom">
                <div class="left">
                  <button [ngClass]="{'selected': oddSelecteds.get(game.id)?.() === 'left'}" (click)="updateOddSelected(game.id, 'left')">
                    {{leftOdds.get(game.id)?.()}}
                  </button>
                </div>
                <div class="center-item-bottom">Côte</div>
                <div class="right">
                  <button [ngClass]="{'selected': oddSelecteds.get(game.id)?.() === 'right'}" (click)="updateOddSelected(game.id, 'right')">
                    {{rightOdds.get(game.id)?.()}}
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="bet-slip">
            <div class="bet-section input-section">
              <div class="bet-label">Mise</div>
              <div class="bet-input-container">
                <input type="number" class="bet-input" value="20" [defaultValue]="initialBetAmount" (input)="updateBetAmount($event, game.id)" >
                <div class="bet-unit">€</div>
              </div>
            </div>
            <div class="bet-section">
              <div class="bet-label">Gains potentiels</div>
              <div class="bet-amount">{{potentials.get(game.id)?.()}}</div>
            </div>
            <button class="create-bet" (click)='createBet(game.id)'>Proposer ce pari</button>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
<!--
<div class='main-content'>
  <div *ngIf="allGames.length > 0">
    <ul class="game-list">
      <li *ngFor="let game of [allGames[0]]" class="game-item">
        <h3>Match #{{game.id}}: {{ game.homeTeam }} VS {{ game.awayTeam }}</h3>
        <p>Date et heure: {{ game.dateTimeUTC }}</p>
        <p>Score de {{game.homeTeam}}: {{ game.homeTeamScore !== null ? game.homeTeamScore : 'A venir' }}</p>
        <p>Score de {{game.awayTeam}}: {{ game.awayTeamScore !== null ? game.awayTeamScore : 'A venir' }}</p>
        <p>Terminé: {{ game.isClosed ? 'Oui' : 'Non' }}</p>
        <div *ngIf="!game.isClosed">
          <form (ngSubmit)="createBet(game.id, betAmount.value, desiredAmount.value, chosenTeam.value)" >
            <input #betAmount type="number" placeholder="Montant du pari" required>
            <input #desiredAmount type="number" placeholder="Montant souhaité" required>
            <select #chosenTeam required>
              <option [value]="game.homeTeam">{{game.homeTeam}}</option>
              <option [value]="game.awayTeam">{{game.awayTeam}}</option>
            </select>
            <button type="submit">Créer un pari</button>
          </form>
        </div>
      </li>
    </ul>
  </div>
</div>
-->
