<div class='main-content'>
  <h2>Tous les matchs</h2>
  <div *ngIf="allGames.length > 0">
    <ul class="game-list">
      <li *ngFor="let game of allGames" class="game-item">
        <h3>Match #{{game.id}}: {{ game.homeTeam }} VS {{ game.awayTeam }}</h3>
        <p>Date et heure: {{ game.dateTimeUTC }}</p>
        <p>Score de {{game.homeTeam}}: {{ game.homeTeamScore !== null ? game.homeTeamScore : 'A venir' }}</p>
        <p>Score de {{game.awayTeam}}: {{ game.awayTeamScore !== null ? game.awayTeamScore : 'A venir' }}</p>
        <p>Terminé: {{ game.isClosed ? 'Oui' : 'Non' }}</p>
        <div *ngIf="!game.isClosed">
          <form (ngSubmit)="createBet(game.id, betAmount.value, desiredAmount.value, chosenTeam.value)" >
            <input #betAmount type="number" placeholder="Montant du pari" required>
            <input #desiredAmount type="number" placeholder="Montant souhaité" required>
            <select #chosenTeam required>
              <option [value]="game.homeTeam">{{game.homeTeam}}</option>
              <option [value]="game.awayTeam">{{game.awayTeam}}</option>
            </select>
            <button type="submit">Créer un pari</button>
          </form>
        </div>
      </li>
    </ul>
  </div>
</div>
